@CHARSET "ISO-8859-1";
#mail-box{
	width: 113px;
	height: 84px;
	position: relative;
}

#mail-image{
	position: absolute;
}

#mail-text{
	display:absolute;
	text-align:center;
	color:#c60000;
	font-weight: bold;
	font-size: 35px;
}